@import '_myVariables';

.create-container {
  @extend %container;
  min-height: $min-height-container + 106px;
  margin-top: 24px;
  padding-top: 24px;

  .form {
    @extend %flex;
    flex-direction: column;

    .group-buttons {
      @extend %flex;
      align-self: flex-end;
      margin: 0 -15px 20px;

      .save {
        @extend %button;
        background: $green;
        margin: 0 15px;
      }

      .wr-link {
        text-decoration: none;

        .back {
          @extend %button;
          background: $red;
          margin: 0 15px;
        }
      }
    }

    .header {
      font-weight: bold;
      opacity: 0.8;
      margin: 21px 0 8px;
    }

    .line {
      @extend %line;
    }

    .radio-buttons-group {
      margin-top: 16px;
    }
    .textarea-group-elements {
      margin-bottom: 12px;
    }
    .input-group-elements {
      width: $width-input;
    }

    .field-array {
      margin-bottom: 24px;
      .header {
        @extend %flex;
        align-items: center;
        margin: 12px 0;
        height: 25px;
        font-size: $text-input-size;
        opacity: 0.8;

        .add-button {
          margin-left: 36px;
          padding: 0;
          background-color: transparent;
          color: $blue;
        }
      }

      .create-props {
        @extend %flex;

        select {
          margin-right: 30px;
        }

        .remove {
          background-color: transparent;
          margin: 0 20px 30px -50px;
          color: $blue;
        }
      }
    }
  }
}

@media (min-width: 0) {
  .form {
    padding-right: $margin-container-middle;
    padding-left: $margin-container-middle;
  }
}
@media (min-width: 960px) {
  .form {
    padding-right: $margin-container-max;
    padding-left: $margin-container-max;
  }
}




