@import '_myVariables';

.login-paper {
  @extend %container;
  margin-top: 282px;
  max-width: 350px;
  height: 336px;

  .login-form {
    @extend %flex;
    flex-direction: column;
    align-items: center;

    .header {
      margin-top: 24px;
      margin-bottom: 32px;
      font-size: 22px;
      line-height: 26px;
    }
    .login-button {
      @extend %button;
      background-color: $yellow;
      margin: 56px 0 16px;
    }
  }
}

