@import '_myVariables';
.nav {
  margin-left: auto;
  margin-right: auto;
  max-width: $max-width-container;
}
.tabs {
  background: $background-app;
  .MuiTab-root {
    color: #000000;
    width: $width-input;
    height: 60px;
    font-size: 22px;
    @media(max-width: 600px) {
      font-size: 18px;
      width: 190px;
    }
  }
  .Mui-selected {
    background: $background-nav;
    color: $blue;
    opacity: 0.1;
  }
  span {
    top: 0;
  }
}
.content {
  margin-top: 14px;
}




