$background-app: #E5E5E5;
$font: Roboto, sans-serif;
$blue: #0258FF;
$width-input: 255px;
$background-nav: linear-gradient(180deg, $blue 0%, rgba(2, 88, 255, 0) 100%);
$yellow: #FFB800;
$white: #FFFFFF;
$grey: #828282;
$green: #34C15C;
$red: #FF0000;
$icon-dropdown: url(../svg/vector.svg);
$padding-input: 8px 8px 7px;
$margin-container-max: 95px;
$margin-container-middle: 50px;
$margin-container-min: 15px;
$max-width-container: 1110px;
$min-width-container: 350px;
$min-height-container: 754px;
$text-input-size: 14px;
$text-head-size: 16px;

%container {
  @extend %flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  max-width: $max-width-container;
  min-width: $min-width-container;
  background-color: $white;
  box-shadow: 0 20px 20px rgba(40, 40, 40, 0.05);
  border-radius: 10px;
}

%flex {
  display: flex;
  flex-wrap: wrap;
}

%button {
  padding: 7px 6px 6px;
  min-width: 160px;
  height: 32px;
  color: $white;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  font-size: 16px;
  line-height: 19px;
}

%link {
  line-height: 16px;
  border: none;
  background: none;
  text-decoration-line: underline;
  color: $blue;
  opacity: 0.8;
  cursor: pointer;
  outline: none;
}

%line {
    border: 1px solid #F7F9FA;
    width: 100%;
}

%group-elements {
  display: flex;
  flex-direction: column;
  height: 73px;
}
%input {
  padding: $padding-input;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 4px;
  line-height: 16px;
  height: 32px;
  opacity: 0.8;
  font-size: $text-input-size;
  outline: none;
  appearance: none;
}

%select {
  @extend %input;
  width: $width-input;
  background: $icon-dropdown 3.5% no-repeat transparent;
  background-position-x: 230px;
  &:hover {
    cursor: pointer;
  }
}
