@import '_myVariables';

.product {
  @extend %container;
  min-height: $min-height-container;
  margin-top: 74px;

  .wrapper {
    margin-top: 24px;
    .line {
      @extend %line;
      margin: 48px 0 24px;
    }
    @media (min-width: 0px) {
      margin-right: $margin-container-min;
      margin-left: $margin-container-min;
    }
    @media (min-width: 600px) {
      margin-right: $margin-container-middle;
      margin-left: $margin-container-middle;
    }
    @media (min-width: 960px) {
      margin-left: $margin-container-max;
      margin-right: $margin-container-max;
    }
  }

  .card {
    @extend %flex;
    margin: 0 -15px;
    box-shadow: none;
    border: none;

    .image {
      flex: 3 0;
      min-width: 300px;
      min-height: 190px;
      max-height: 200px;
      margin: 0 15px 16px;
    }

    .info {
      margin: 0 15px 16px;
      flex: 5 0 300px;
      padding: 0;
      min-width: 300px;

      h5 {
        font-size: 24px;
        line-height: 28px;

      }
      p {
        margin-top: 40px;
        overflow: auto;
        max-height: 135px;
        font-size: $text-head-size;
        color: $grey;
      }
    }
  }

  .details {
    padding: 0;
    .header {
      margin: 24px 0 12px;
      font-size: $text-head-size;
    }
    .select {
      @extend %select;
    }

    .data {
      flex: 1 0 auto;
      font-size: $text-input-size;
      color: $grey;
    }

    .cost {
      @extend %flex;

      .data {
        font-size: 22px;
        line-height: 26px;
        color: black;
      }
    }

    .btn {
      @extend %button;
      background-color: $yellow;
    }
  }
}






