@import '_myVariables';

.product {
  @extend %container;
  min-height: 754px;
  margin-top: 74px;

  .wrapper {
    margin-top: 24px;
    .line {
      @extend %line;
      margin: 48px 0 24px;
    }
    @media (min-width: 0) {
      margin-right: 33px;
      margin-left: 33px;
    }
    @media (min-width: 960px) {
      margin-left: 95px;
      margin-right: 95px;
    }
  }

  .card {
    @extend %flex;
    margin: 0 -15px;
    box-shadow: none;
    border: none;

    .image {
      flex: 3 0;
      min-width: 350px;
      max-width: 500px;
      min-height: 190px;
      max-height: 300px;
      margin: 0 15px 16px;
    }

    .info {
      margin: 0 15px 16px;
      flex: 5 0;
      padding: 0;
      min-width: 350px;
      min-height: 190px;
      max-height: 300px;
      h5 {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 40px;
      }
      p {
        color: $grey;
      }
    }
  }

  .details {
    padding: 0;
    .header {
      margin: 24px 0 12px;
      font-size: 16px;
    }
    .select {
      @extend %select;
      appearance: none;
      background: $icon-dropdown 55% / 3.5% no-repeat transparent;
      background-position-x: 230px;
    }

    .data {
      flex: 1 0 auto;
      font-size: 14px;
      color: $grey;
    }

    .cost {
      @extend %flex;

      .data {
        font-size: 22px;
        line-height: 26px;
        color: black;
      }
    }

    .btn {
      @extend %button;
      background-color: $yellow;
    }
  }
}






