@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
$background-app: #E5E5E5;
$font-app: Roboto, sans-serif;
$color-blue: #0258FF;


body {
  background: $background-app;
  min-width: 255px;
}
* {
  font-family: $font-app;
  text-transform: none;
  border: 0;
  padding: 0;
  margin: 0;
}

