@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
body {
  background: #E5E5E5;
  min-width: 255px;

}
* {
  font-family: Roboto, sans-serif;
  text-transform: none;
  box-sizing: border-box;
  border: 0;
  padding: 0;
  margin: 0;
}
/*
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}*/
