@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import '_myVariables';
@import '_main-page';
@import '_list';
@import '_product';
@import '_login';
@import '_create-product-prop';
@import 'common';

body {
  background: $background-app;
}
* {
  font-family: $font;
  text-transform: none;
  border: 0;
  padding: 0;
  margin: 0;
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
  }
}

