.create-container {
  min-height: 860px;
  margin: 24px 165px;
  background-color: #FFFFFF;
  box-shadow: 0 20px 20px rgba(40, 40, 40, 0.05);
  border-radius: 10px;
  padding-top: 24px;

  .form {
    display: flex;
    flex-direction: column;

    .group-buttons {
      align-self: flex-end;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0 -15px 20px;

      .save {
        width: 160px;
        height: 32px;
        color: #FFFFFF;
        background: #34C15C;
        box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.05);
        border-radius: 4px;
        font-size: 16px;
        line-height: 19px;
        margin: 0 15px;
      }
      .wr-link {
        text-decoration: none;
        .back {
          width: 160px;
          height: 32px;
          color: #FFFFFF;
          background: #FF0000;
          box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.05);
          border-radius: 4px;
          font-size: 16px;
          line-height: 19px;
          margin: 0 15px;
        }
      }
    }

    .header {
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
      opacity: 0.8;
      margin: 21px 0 8px;
    }

    .line {
      margin: 0;
      border: 1px solid #F7F9FA;
      width: 100%;
    }
    .input-form {
      Input {
        max-width: 255px;
      }
    }

    .field-array {
      .header {
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        opacity: 0.8;

        .add-button {
          margin-left: 36px;
        }
      }

      .create-props {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        Input {
          margin-right: 30px;
        }
        select {
          margin-right: 30px;
        }
        .remove {
          margin: 0 20px 30px -50px;
        }

      }


    }

  }
}
@media (min-width: 600px) {
  .form {
    padding-right: 33px;
    padding-left: 33px;
  }
}
@media (min-width: 960px) {
  .form {
    padding-right: 63px;
    padding-left: 63px;
  }
}




