.list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: stretch;
  background: #FFFFFF;
  box-shadow: 0 20px 20px rgba(40, 40, 40, 0.05);
  border-radius: 10px;
  text-indent:0;
  .add {
    align-self: flex-end;
    margin: 24px 95px 20px;
    padding: 7px 6px 6px;
    width: 160px;
    height: 32px;
    color: #FFFFFF;
    background-color: #FFB800;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    font-size: 16px;
    line-height: 19px;
  }
}
 .link {
  margin-right: 10px;
  line-height: 16px;
  border: none;
  background: none;
  text-decoration-line: underline;
  color: #0258FF;
  opacity: 0.8;
  cursor: pointer;
  outline: none;
}

