.login-paper {
  margin-top: 282px;
  max-width: 350px;
  height: 336px;
  box-shadow: 0px 20px 20px rgba(40, 40, 40, 0.05);
  border-radius: 10px;
  background-color: white;
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    .header {
      margin-top: 24px;
      margin-bottom: 32px;
      font-weight: 300;
      font-size: 22px;
      line-height: 26px;
    }
    Input {
      width: 318px;
    }
    .login-button {
      background-color: #FFB800;
      border-radius: 4px;
      width: 160px;
      height: 32px;
      color: #FFFFFF;
      margin: 56px 0 16px;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
    }
  }
}
