//@button-border = #0258FF;

  .wrapper-header button{
    border:none;
    border-top: 3px solid blue;
    padding: 24px 41px 10px;
    background: linear-gradient(180deg, #4098ff 0%, rgba(2, 88, 255, 0) 100%);
    opacity: 0.5;
    .main-header {
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 22px;
      line-height: 26px;
      text-decoration: none;
      /* identical to box height */
      color: #82c9ff;
    }
  }




