//@button-border = #0258FF;


  .tabs {
    background: #E5E5E5;
    .MuiTab-root {
      color: #000000;
      width: 255px;
      height: 60px;
      font-size: 22px;
    }
    .Mui-selected {
      background: linear-gradient(180deg, #0258FF 0%, rgba(2, 88, 255, 0) 100%);
      color: #0258FF;
      opacity: 0.1;
    }
    .PrivateTabIndicator-colorSecondary-68 {
      background-color: darkblue;
      height: 3px;
    }
    span {
      top: 0;
    }
  }
.content {
  margin-top: 14px;
}




