//@button-border = #0258FF;


  .tabs {
    //background: #E5E5E5;
    .tab {
      border-top: 3px solid blue;
      width: 255px;
      height: 60px;
      background: linear-gradient(180deg, #0258FF 0%, rgba(2, 88, 255, 0) 100%);
      opacity: 0.1;
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 22px;
      line-height: 26px;
      text-decoration: none;
      /* identical to box height */
      color: #82c9ff;
    }
  }
.content {
  margin-top: 14px;
}




