.radio-buttons-group {
  margin-top: 16px;
  font-size: 14px;
  line-height: 16px;

  &>.requred:after {
    content: "*";
    color: red;
  }

  &>.fieldset {
    .wrapper-radio {
      display: flex;
      align-items: center;
      margin-top: 8px;

      .radio-button {
        margin-right: 8px;
        padding: 0;
      }
      label {
        padding-top: 2px;
      }
    }
  }

  .input-feedback {
    color: red;
    font-size: 12px;
  }
}

